.videoImageContainer {
  @apply h-full aspect-video cursor-pointer block relative;
  img {
    @apply h-full w-full object-cover overflow-hidden rounded snap-center transition-all;
  }
  .playIcon {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 p-5 bg-slate-900/60 hover:text-orange-300 text-white transition-colors rounded-full;
    svg {
      @apply text-[32px];
    }
  }
}
