.additionalInfoContainer {
  @apply py-5;

  @apply grid grid-cols-2 max-md:grid-cols-1 gap-3 justify-between items-center;

  .infoBox {
    h6 {
      @apply text-base;
    }
    .infoContainer {
      @apply grid grid-cols-6 max-xl:grid-cols-3 max-lg:grid-cols-2 gap-2 bg-slate-200 dark:bg-slate-800 rounded p-4 drop-shadow;
    }
  }
}
