.additionalInfoContainer {
  @apply pt-5 mb-10;

  @apply grid grid-cols-2 max-md:grid-cols-1 gap-3 items-stretch;

  .infoBox {
    .infoContent {
      @apply h-full grid grid-cols-6 auto-rows-auto max-xl:grid-cols-3 max-lg:grid-cols-2 gap-2 bg-slate-200 dark:bg-slate-800 rounded p-4 drop-shadow items-center;
    }

    .statusDistribution {
      @apply h-full p-4;
    }
  }
}
