.header {
  @apply flex justify-between h-12;

  .title {
    @apply text-slate-100 pl-5 pt-2;
  }

  .panel {
    @apply flex items-center h-12;
    .panelBtn {
      @apply flex items-center justify-center h-full w-12 bg-black/40 text-lg cursor-pointer;
      @apply hover:bg-black/80 text-slate-100;
    }
  }
}
