.bottom {
  top: calc(100% + 10px);
  @apply -translate-x-1/2 left-1/2;
}
.top {
  bottom: calc(100% + 10px);
  @apply -translate-x-1/2 left-1/2;
}
.rightBottom {
  top: calc(100% + 10px);
  @apply left-0;
}
.rightTop {
  bottom: calc(100% + 10px);
  @apply left-0;
}
.leftBottom {
  top: calc(100% + 10px);
  @apply right-0;
}
.leftTop {
  bottom: calc(100% + 10px);
  @apply right-0;
}
