.root {
  @apply relative;
  .label {
    @apply absolute p-2 w-full z-10;
  }
  .labelBackground {
    @apply text-xs dark:text-slate-800 text-slate-50 drop-shadow dark:bg-slate-300 bg-slate-800 rounded;
  }
}
