.footer {
  @apply py-5 px-10 dark:bg-gray-900 bg-slate-100;

  .links {
    @apply flex items-center justify-end;

    .linkItem {
      @apply mr-1;
    }
  }

  .content {
    @apply mb-2;

    .box {
    }
  }
}
