.footer {
  @apply py-2 px-10 dark:bg-gray-800 bg-slate-200 flex justify-between items-center;

  p {
    @apply text-sm;
  }

  .links {
    @apply flex items-center;

    .linkItem {
      @apply mr-1;
    }
  }
}
