.selectContainer {
  @apply relative;
  label {
    @apply text-sm;
  }
  .selectInput {
    @apply bg-slate-200 dark:bg-slate-800 rounded-lg drop-shadow p-2 flex items-center justify-between px-4 relative;

    .value {
      @apply absolute;
    }

    .placeholder {
      @apply absolute text-opacity-90;
    }

    input {
      @apply max-w-[90%];
    }
    .selectIcon {
      svg {
        @apply text-xl;
      }
    }
  }

  .slateDark {
    @apply dark:bg-gray-900 bg-slate-300;
  }
}
