.inputContainer {
  label {
    @apply text-sm;
  }
  div {
    @apply bg-slate-200 dark:bg-slate-800 rounded-lg flex items-center pr-4 drop-shadow;
    input {
      @apply pl-2 py-2 w-full;
    }
    .icon {
      svg {
        @apply ml-3 text-xl;
      }
    }
    .rightIcon {
      svg {
        @apply text-xl;
      }
    }
  }
}
