.inputContainer {
  label {
    @apply text-sm;
  }
  div {
    @apply bg-slate-200 dark:bg-slate-800 rounded-lg flex items-center pr-5 shadow-md;
    input {
      @apply py-2 w-full;
    }
    svg {
      @apply mx-4 text-2xl;
    }
  }
}
