.inputContainer {
  label {
    @apply text-sm;
  }
  .input {
    @apply bg-slate-200 px-4 py-2 dark:bg-slate-800 rounded-lg flex items-center drop-shadow;
    input {
      @apply w-full;
    }
    .icon {
      @apply pr-2;
      svg {
        @apply text-xl;
      }
    }
    .rightIcon {
      @apply pl-2;
      svg {
        @apply text-xl;
      }
    }
  }
}
