.sidebar {
  @apply min-h-screen w-36 border-r border-gray-200 dark:border-gray-800 py-5;
  @apply flex flex-col items-center justify-between;

  .sideBarCenter {
    .sidebarNavLink {
      @apply my-7;
    }
  }

  .sidebarNavLink {
    @apply cursor-pointer flex items-center justify-center;
    p {
      @apply ml-2;
    }
    svg {
      @apply text-2xl;
    }
  }
}
