.description {
  @apply max-md:text-justify text-slate-600 dark:text-slate-400;
}
.showMore {
  @apply ml-2 text-sm dark:text-orange-300 text-orange-500 cursor-pointer opacity-80 hover:opacity-100 transition-colors transition-opacity;
}
