.list {
  @apply grid max-sm:grid-cols-1 max-lg:grid-cols-2 max-xl:grid-cols-3 max-2xl:grid-cols-4 2xl:grid-cols-5 gap-3 justify-between;
}
.listShowToggler {
  @apply dark:text-orange-300 text-orange-400 cursor-pointer transition-colors text-center text-sm;
}

.listClosed {
  @apply max-h-[270px] overflow-hidden;
}
