.list {
  @apply grid max-sm:grid-cols-1 max-md:grid-cols-2 grid-cols-[repeat(auto-fill,235px)] gap-3 justify-between;
}
.listShowToggler {
  @apply dark:text-orange-300 text-orange-400 cursor-pointer transition-colors text-center text-sm;
}

.listClosed {
  @apply max-h-[220px] overflow-hidden;
}
