.wrapper {
  @apply py-3;

  .gallery {
    @apply relative flex gap-3 overflow-x-auto snap-x pb-0.5 w-full items-center justify-items-start;

    .imageLoader {
      @apply animate-pulse dark:bg-slate-800 bg-slate-300 h-36 w-64 rounded;
    }
  }
}
