.slide {
  @apply z-20 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center;

  .image {
    @apply h-full object-contain w-auto rounded pointer-events-none;
  }
}

.backdrop {
  @apply absolute h-full w-full top-0 left-0 z-10;
}
