.wrapper {
  @apply absolute left-0 top-0 w-full h-full -z-10 overflow-hidden;
  .bgImage {
    @apply w-full h-full bg-cover blur-sm scale-105 bg-center;
    animation: 0.5s bgShow ease-in-out;
    @keyframes bgShow {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
