.search {
  @apply fixed right-1/2 top-12 translate-x-1/2 max-w-3xl w-full z-50;
}

.searchOverlay {
  @apply w-screen h-screen fixed left-0 top-0 backdrop-blur-sm z-40;
}

.searchButton {
  @apply cursor-pointer hover:text-slate-300 transition-colors;

  svg {
    @apply text-xl;
  }
}
