.red {
  svg {
    @apply text-red-500;
  }
  span {
    @apply bg-red-500;
  }
}
.orange {
  svg {
    @apply text-orange-400;
  }
  span {
    @apply bg-orange-400;
  }
}
.green {
  svg {
    @apply text-green-500;
  }
  span {
    @apply bg-green-500;
  }
}
