.card {
  @apply w-32;
  .top {
    @apply relative;
    .cardImage {
      @apply h-48 w-full object-cover rounded;
    }
    .relationType {
      @apply text-sm absolute px-4 py-2 rounded bottom-1 left-1/2 -translate-x-1/2 bg-slate-700/50 backdrop-blur-md text-slate-200 w-[90%] text-center;
    }
  }
  .title {
    @apply text-xs;
  }
}
