.wrapper {
  @apply z-30 fixed right-3 bottom-3 w-[60px] shadow-md;

  .menu {
    @apply rounded relative dark:bg-slate-800/80 bg-slate-200/50 backdrop-blur-2xl overflow-hidden;
    @apply grid items-center justify-center cursor-pointer grid-rows-[auto_60px] gap-y-3;

    li {
      @apply list-none;
    }
  }
}
