.wrapper {
  @apply z-30 fixed right-3 bottom-3;

  .menu {
    @apply rounded dark:bg-slate-800/80 bg-slate-200/50 backdrop-blur-2xl shadow-md;
    @apply grid items-center justify-center cursor-pointer grid-rows-[50px] gap-y-6;

    li {
      @apply list-none;
    }
  }

  .menuOpened {
    @apply grid-rows-[auto_50px];
  }
}
