.imageContainer {
  @apply h-full w-auto flex-shrink-0 relative cursor-pointer;
  .image {
    @apply h-full aspect-video object-cover overflow-hidden rounded transition-all;
  }
  .icon {
    @apply absolute left-1/2 top-1/2 text-2xl text-white;
  }
}
