.wrapper {
  @apply mx-auto container;
  .filters {
    @apply grid grid-cols-[auto_40px] items-center gap-3;
    .filter {
      @apply grid grid-cols-[repeat(6,230px)] max-2xl:grid-cols-[repeat(1,auto)] gap-3 mb-6;
    }
  }
}
