.rootForm {
  @apply max-w-md mx-auto;
  .separator {
    @apply h-px dark:bg-slate-800 bg-slate-300 border-0;
  }

  .switchForm {
    @apply mt-3 mx-auto;
    .switchFormLink {
      @apply ml-1 underline cursor-pointer;
    }
    @apply text-center flex items-center;
  }
}
