.dropdown {
  @apply absolute w-full bg-slate-200 dark:bg-slate-800 z-10 rounded drop-shadow max-h-96 overflow-y-hidden hover:overflow-y-auto scrollbar;
}

.item {
  @apply px-3 py-2 cursor-pointer text-sm transition-colors flex justify-between;
  @apply hover:bg-slate-300 hover:dark:bg-slate-700;
}
.itemSelected {
  @apply bg-slate-300 dark:bg-slate-900 text-orange-400 dark:text-orange-300;
}

.spinnerLoader {
  @apply py-3;

  svg {
    @apply mx-auto animate-spin;
  }
}
