.dropdown {
  @apply absolute z-10 bg-slate-200 dark:bg-slate-800 right-0 top-12 max-2xl:top-20 rounded drop-shadow-2xl p-2;

  .filters {
    @apply flex gap-3 items-center flex-wrap flex-shrink flex-nowrap;
    .filter {
      @apply grow;
    }
  }
}
