.header {
  @apply h-20 flex items-center justify-between px-10;

  .rightBlock {
    @apply flex items-center;
    .rightItem {
      @apply ml-5;
    }
  }

  nav {
    a {
      @apply mr-20 uppercase font-extrabold;
    }
  }
}
