.item {
  .title {
    @apply text-sm text-center;
  }

  .value {
    @apply bg-[var(--card-background-color)] rounded text-center py-1;
    p {
      @apply text-[var(--card-background-text-color)] text-sm;
    }
  }
}
