.rating {
  @apply cursor-pointer flex items-center flex-nowrap gap-x-2 px-2 py-1 rounded text-white;
  p {
    @apply text-sm whitespace-nowrap;
  }
  svg {
    @apply text-xl;
  }
}

.red {
  @apply bg-red-500;
  @apply text-white;
}
.orange {
  @apply bg-orange-400;
  @apply text-white;
}
.green {
  @apply bg-green-500;
  @apply text-white;
}
