.toggleTheme {
  @apply mx-auto cursor-pointer w-full h-full flex items-center justify-center dark:hover:text-slate-200 hover:text-slate-800 transition-colors;
  .icon {
    @apply text-2xl;
  }
  .text {
    @apply ml-2;
  }
}
