.toggleTheme {
  @apply mx-auto cursor-pointer w-full h-full flex items-center justify-center dark:hover:text-orange-200 hover:text-orange-500 transition-colors;
  .icon {
    @apply text-2xl;
  }

  .text {
    @apply ml-2;
  }
}
