.extraFilterContainer {
  @apply relative z-20;
  .btn {
    @apply h-10 w-10 dark:bg-slate-800 bg-slate-200 rounded flex items-center justify-center cursor-pointer drop-shadow;
    @apply dark:hover:text-orange-300 hover:text-orange-400 transition-colors;

    svg {
      @apply text-xl;
    }
  }
  .btnActive {
    @apply dark:text-orange-300 text-orange-400;
  }
}
