.thumbsList {
  @apply flex items-center justify-center flex-nowrap gap-3 h-32 w-full;

  .thumb {
    @apply cursor-pointer flex-shrink-0 h-32;

    .thumbImage {
      @apply h-full w-auto object-contain pointer-events-none rounded;
    }
  }
}
