.nav {
  @apply flex items-center flex-col justify-between gap-y-4 pt-3;
}

.navItem {
  @apply h-full w-full flex items-center justify-center gap-y-1 flex-col w-9;
  p {
    @apply text-xs text-center;
  }
  svg {
    @apply text-lg;
  }
}

.toggleThemeBtn {
  div {
    p {
      display: none;
    }
  }
}
