.siteLogo {
  @apply w-fit;
  .anifox {
    @apply flex items-center;

    p {
      @apply font-['Jua'] text-3xl;
      @apply ease-in-out duration-75;
      @apply hover:scale-110;
    }
    .ani {
      @apply first:text-[#F6898A];
    }
    .fox {
      @apply last:text-[#FDC65F];
    }
  }
}
