.legend {
  @apply flex flex-col gap-y-1;

  .legendItem {
    @apply rounded flex justify-between gap-x-5 dark:bg-slate-900 bg-slate-300 overflow-hidden;
    .leftSide {
      @apply flex items-center gap-x-1;
      .color {
        @apply w-6 h-full;
      }
      p {
        @apply text-sm py-0.5 px-1 whitespace-nowrap;
      }
    }

    .whiteBox {
      @apply text-sm py-0.5 px-2 dark:bg-slate-800/50 bg-slate-400/30;
    }
  }
}
