.wrapper {
  @apply w-full overflow-x-auto my-5 overflow-y-hidden;
  @apply flex flex-nowrap;

  .mediaBox {
    @apply mr-2;
  }

  .mediaLoader {
    @apply animate-pulse dark:bg-slate-800 bg-slate-300 h-full w-[227px] rounded;
  }
}
